#root {
  max-width: 1280px;
  margin: 0 ;

  text-align: center;
}

.navbar {
  display: flex;
  position:fixed;
  background-color: #045474;
  width: 100%;
  color: #FBC344;
  align-items:center;
  flex-direction: column;
  margin-top: 0;
}

.menu {
  display: flex;
  
}

.footer {
  display: flex;
  
  background-color: #FBC344;
  color: #045474;
  justify-content: space-between;
  padding: 20px 70px;
}

.homepage {
  padding-top: 100px;
}

.texto-intro {
  border: 3px solid #045474;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 50px;
}