.mapContainerWrapper {
    width: 90vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #045474;
    margin-left: 20px;
}

@media (max-width: 450px) {
    .mapContainerWrapper {
        width: 80vw;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #045474;
        padding: 20px;
        
    }
}
